/* styles.css */
body{
    font-family:'Times New Roman', Times, serif;
    color: brown;
    background-color: beige;
}

/* Center the content within a container */
.container {
    text-align: center;
    margin: 100px auto;
    max-width: 600px;
    background-color: brown;
    color: beige;
    text-decoration: none;
    border-radius: 10px;   
}

#uploadBtn {
    background-color: beige;
    color: brown;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileInput {
    background-color: beige;
    color: brown;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileList a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color:lightpink;
}

/* Add CSS styles for the search input */
#searchInput {
    width: 50%;
    padding: 10px;
    /* Add padding for better visual appearance */
    font-size: 16px;
    /* Increase font size for better readability */
    border: none;
    /* Add border to the input */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    box-sizing: border-box;
    /* Include padding and border in the input's total width */
    margin-bottom: 20px;
    /* Add some space below the search input */
    background-color: brown;
    color: beige;
}

#searchInput::placeholder {
    color: beige;
}